*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins", sans-serif;
    color: #333;
}

.container{
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40PX;
    font-weight: 900;
}

.image{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}

.card{
    width: 32%;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    object-fit: cover;
    /* margin: 5px; */
}

figure{
    display: block;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
}

.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.3s;
}

.card:hover img{
    filter: grayscale(0%);
}

.card figcaption{
    position: absolute;
    padding: 25px;
    bottom: 0;
    left: 0 ;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

.card:hover figcaption{
    opacity: 1;    
    transform: scale(1.03);
}